*{
    box-sizing: border-box;
    margin: 0px;
}
.navbar{
    background-color: #eee;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: .7;
}
.navbar-inner{
    display: flex;
}
.nav{
    position: absolute;
    display: flex;
    right: 60px;
}
.nav {
    list-style: none;
}
.nav li{
    padding: 20px;
}
.nav li a{
    text-decoration: none;
    color: black;
}
.brand{
    text-decoration: none;
}
.brand img{
    width: 80px;
    margin-left: 50px;
}
.closebtn img{
    position: absolute;
    width: 30px;
    right: 20px;
    top: 20px;
}
.bar img{
    position: absolute;
    width: 30px;
    left: 20px;
    top: 15px;
}
@media screen and (max-width: 992px) {
    .nav{
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #eee;
        height: 100vh;
        display: block;
        text-align: center;
        width: 0px;
        margin-left: -130px;
        transition: all 1s ease;
    }
    .lifirst{
        margin-top: 70px;
    }
    .brand img{
        margin-left: 60px;
    }
}
@media screen and (min-width: 992px) {
    .closebtn{
        display: none;
    }
    .bar{
        display: none;
    }
}