*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    font-family: 'popins', sans-serif;
    overflow-x: hidden;
}
.navbar{
    background-color: #eee;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 1;
    z-index: 99999;
}
.navbar-inner{
    display: flex;
}
.nav{
    position: absolute;
    display: flex;
    right: 60px;
}
.nav {
    list-style: none;
}
.nav li{
    padding: 20px;
}
.nav li a{
    text-decoration: none;
    color: black;
}
.brand{
    text-decoration: none;
}
.brand img{
    width: 80px;
    margin-left: 50px;
    margin-top: 5px;
}
.closebtn img{
    position: absolute;
    width: 30px;
    right: 20px;
    top: 20px;
}
.bar img{
    position: absolute;
    width: 30px;
    left: 15px;
    top: 10px;
}
.margintop{
    margin-top: 60px;
}
@media screen and (max-width: 992px) {
    .nav{
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #eee;
        height: 100vh;
        display: block;
        text-align: center;
        width: 0px;
        margin-left: -130px;
        transition: all 1s ease;
    }
    .lifirst{
        margin-top: 70px;
    }
    .brand img{
        margin-left: 60px;
        margin-top: 5px;
    }
    .navbar{
        height: 50px;
    }
    .brand img{
        width: 66px;
    }
    .margintop{
        margin-top: 50px;
    }
}
@media screen and (min-width: 992px) {
    .closebtn{
        display: none;
    }
    .bar{
        display: none;
    }
}

.side-login{
    width: 30%;
    height: 100vh;
    background-color: rgb(73, 255, 185);
}
.flex{
    display: flex;
}
.form-login{
    width: 80%;
    height: 80%;
    /* border: 1px solid #eee; */
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.login{
    margin-top: 50px;
    margin-left: 30px;
}
.login form input{
  width: 111%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #eee;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .footer{
      width: 100vw;
      background-color: #eee;
      min-height: 300px;
      padding: 50px;
  }
  .foot-inn a{
      padding: 10px;
      text-decoration: none;
      color: rgb(0, 0, 0);
  }
  .foot-inn a i{
    font-size: 20px;
    color: rgb(0, 0, 0);
  }
  .foot-inn ul{
      list-style: none;
      display: flex;
      width: fit-content;
      padding-left: 0px;
  }
.foot-inn{
    color: rgb(0, 0, 0);
}
.loader-ind {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100vw;
    height: 100vh;
    z-index: 9999999999999999999999999999999999999999999999999;
  }
  .loader-inner {
    width: fit-content;
    margin: auto;
    margin-top: 40vh;
  }
  .loader-inner ul {
    display: flex;
    list-style: none;
  }
  .loader-inner ul li {
    font-size: 20px;
  
    margin: 10px;
    height: 32px;
    width: 32px;
    line-height: 1.7;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    animation: bouncy 1.4s linear infinite;
    font-weight: 600;
  }
  @keyframes bouncy {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-80px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .loader-inner ul li:nth-child(1) {
    animation-delay: 0.2s;
    background: -webkit-linear-gradient(60deg, #000000, #f82e56);
  }
  .loader-inner ul li:nth-child(2) {
    animation-delay: 0.4s;
    background: -webkit-linear-gradient(120deg, #000000, #f82e56);
  }
  .loader-inner ul li:nth-child(3) {
    animation-delay: 0.6s;
    background: -webkit-linear-gradient(180deg, #000000, #f82e56);
  }
  .loader-inner ul li:nth-child(4) {
    animation-delay: 0.8s;
    background: -webkit-linear-gradient(240deg, #000000, #f82e56);
  }
  .loader-inner ul li:nth-child(5) {
    animation-delay: 1s;
    background: -webkit-linear-gradient(300deg, #000000, #f82e56);
  }
  .loader-inner ul li:nth-child(6) {
    animation-delay: 1.2s;
    background: -webkit-linear-gradient(360deg, #000000, #f82e56);
  }
  
.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #000000;
    box-shadow: 9999px 0 0 -5px #000000;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: 0.25s;
  }
  
  .dot-pulse::before,
  .dot-pulse::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #000000;
    color: #000000;
  }
  
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #000000;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #000000;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: 0.5s;
  }
  
  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px #000000;
    }
    30% {
      box-shadow: 9984px 0 0 2px #000000;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #000000;
    }
  }
  
  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px #000000;
    }
    30% {
      box-shadow: 9999px 0 0 2px #000000;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #000000;
    }
  }
  
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px #000000;
    }
    30% {
      box-shadow: 10014px 0 0 2px #000000;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #000000;
    }
  }
  .dot-cont {
    width: fit-content;
    margin: 20px auto;
  }
  .slider{
    max-width: 100vw;
    overflow: hidden;
  }
  .rowcard{
    width: 70vw;
    margin: auto;
    overflow-x: hidden;
  }
  .innerrowcard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .imgcard img{
    width: 500px;
    margin: 20px;
  }
  .article{
    text-align: justify;
    text-justify: inter-word;
  }
  @media screen and (max-width: 992px) {
    .innerrowcard{
      display: block;
    }
    .rowcard{
      width: 100vw;
    }
    .imgcard img{
      width: 100%;
      margin: 0px;
    }
    .article{
      padding: 25px;
    }
    .desk-show{
      display: none;
    }
  }
  @media screen and (min-width: 992px) {
.mob-show{
  display: none;
  }
    
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
.lreveal{
    position: relative;
    transform: translateX(-250px);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.lreveal.lactive{
    transform: translateX(0px);
    opacity: 1;
}
.rreveal{
    position: relative;
    transform: translateX(250px);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.rreveal.ractive{
    transform: translateX(0px);
    opacity: 1;
}     
.btn-grad {
  background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
  /* margin: 10px; */
  /* padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  display: block;
  height: 50px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width:992px) {
  .side-login{
    width: 25%;
}
.login{
  margin-left: 20px;
}
.form-login{
  height: 88%;
}
}
@media screen and (max-width: 500px) {
.form-login{
  height: 94%;
}
}
.forgot{
  text-decoration: none;
  color: black;
}
.cardplace{
  border: 2px solid #eee;
}
.contpage{
  min-height: 500px;
  display: flex;
}
.leftpage{
  width: 25%;
  background-color: #e8fffb;
}
.middlepage{
  width: 50%;
  background-color: #e8fffb;
}
.rightpage{
  width: 25%;
  background-color: #e8fffb;
}
.card{
  box-shadow: rgb(17 12 46 / 15%) 1px 1px 34px 4px;
  padding: 20px;
}
.left-card{
  width: 85%;
  min-height: 200px;
  margin: auto;
  border-radius: 10px;
  background-color: white;
}
.left-card p{
  font-size: 20px;
}
.heading-card{
  padding: 20px;
}
.iconimg{
  display: flex;
}
.iconimg img{
  width: 50px;
}
.iconimg a{
  text-decoration: none;
  color: rgb(0, 103, 82);
  border: 1px solid rgb(0, 103, 82);
  padding: 15px;
  margin-left: 20px;
  border-radius: 10px;
}
.iconimg a:hover{
  background-color: rgb(0, 103, 82);
  color: white;
}
@media screen and (max-width: 1200px) {
  .iconimg a{
    font-size: 10px;
    padding: 18px;
  }
}
.long-btn{
  width: 100%;
  margin: auto;
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
  margin-top: 5px;
}
.long-btn a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.proimg img{
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;

}
@media screen and (max-width: 992px) {
    .leftpage{
      display: none;
    }
    .rightpage{
      display: none;
    }
    .middlepage{
      width: 100%;
    }
}